<% provide(:title, "Contacto") %>

<div>
    <h2>Correo:</h2>
    <p>rails@ejemplo.mx</p>
    <h2>Telefono:</h2>
    <p>81-1480-5209</p>
    <h2>Direccion:</h2>
    <i>Puerta del sol, 1010</i>
    <em>Mty, N.L.</em>
</div>