<% provide(:title, "Ayuda") %>
<h1>Ayuda</h1>
<p>
    Si tuviste algun problema con el uso de la pagina <em> Biblioteca<em>
    porfavor reportalo al siguiente correo: <em>ayuda@ejemplo.mx<em> 
</p>

