<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
    <div class="alert alert-danger">
      Hay <%= (@user.errors.count > 1) ? 
                "#{@user.errors.count} errores" : " un error" %>.
    </div>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>