$pagination-current-background-color:#f5cb5c;
$pagination-current-border-color: #f5cb5c;
@import "bulma";
@import "./actiontext.scss";

/* colores */

$negro: #242423;
$gris-oscuro: #333533;
$amarillo: #f5cb5c;
$blanco: #e8eddf;
$gris-claro: #cfdbd5;

/* general */

html,
body {
    background-color: $gris-oscuro;
    margin: 0;
    height: 100%;
}

h1,
h2,
h3,
h4,
p,
em,
i {
    padding: 9px 0 0 9px;
    color: $gris-claro;
}


/* navbar */

.link-color {
    color: $blanco;
}

.is-negro {
    background-color: $negro;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: $blanco;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding: 9px 0px 0px 9px;
    font-weight: bold;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}


/* buttons */

.signup-btn {
    font-weight: bold;
    background-color: $amarillo;
    border: none;
}

.long-btn {
    margin-top: 35px;
    width: 100%;
}


/* forms */

.center-form {
    background-color: $negro;
    padding: 20px;
    margin: 2% 20%;
    border-radius: 15px;
}

.center {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin: 20%;
}

.form-title {
    color: $gris-oscuro;
    font-weight: bold;
    font-size: 2.5em;
}

.center-title {
    display: flex;
    justify-content: center;
}

#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
    display: flex;
    justify-content: center;
}

.field_with_errors {
    .form-control {
        color: red;
    }
}

.alert {
    color: $gris-claro;
    background-color: #b00f0f;
    display: flex;
    justify-content: center;
}